<div class="row">
  <div class="col-sm-6">
    {{ap-json-schema-node-tree model=model}}
  </div>
  <div class="col-sm-6">
    {{#if selectedNode}}
      {{forms/json-schema-node-form model=selectedNode}}
    {{/if}}
  </div>
</div>
