<div class="page-header clearfix">
  {{#if help-url}}
    {{ap-button-help url=help-url class='pull-right'}}
  {{/if}}
  {{#if t}}
    {{bs-h1 t=t secondary=secondary icon=icon}}
  {{/if}}
</div>

{{yield}}
