<td>
  {{yield}}
</td>

<td>
  {{#ap-list-nav-simple-icon pull='right'}}
    {{#if edit-path}}
      {{ap-list-link
          t='actions.edit'
          icon='the-essentials-027'
          path=edit-path
          arg1=model}}
    {{/if}}
    {{ap-list-link
        t='actions.delete'
        icon='the-essentials-011'
        action='delete'}}
  {{/ap-list-nav-simple-icon}}
</td>
