<td>
  {{yield}}
</td>

<td>
  {{#ap-list-nav-simple-icon class='pull-right'}}
    {{#if custom-primary-action}}
      {{ap-list-link
        t=custom-primary-t
        icon=custom-primary-icon
        action='custom-primary'}}
    {{/if}}
    {{#if edit-path}}
      {{#unless model.isNew}}
        {{ap-list-link
            t='actions.edit'
            icon='the-essentials-027'
            path=edit-path
            arg1=model}}
      {{/unless}}
    {{/if}}
    {{ap-list-link
        t='actions.delete'
        icon='the-essentials-011'
        action='delete'}}
  {{/ap-list-nav-simple-icon}}
</td>
