<button class="btn {{buttonStyleClass}} dropdown-toggle" data-toggle="dropdown">
  {{text}}
  <span class="caret"></span>
</button>
<ul class="dropdown-menu {{alignmentClass}}" role="menu">
  {{yield}}
</ul>
