<table {{bind-attr class=':table striped:table-striped bordered:table-bordered hover:table-hover condensed:table-condensed'}}>
  <thead class="text-capitalize">
    <tr>
      {{#each heading in headings-text}}
        <th>{{heading}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{yield}}
  </tbody>
</table>
