<div class="ap-app-primary">
  <div class="ap-app-primary-sidebar">
    {{#ap-list-nav-vertical-icon}}
      {{partial 'layouts/primary/nav-items'}}
    {{/ap-list-nav-vertical-icon}}
    {{outlet 'sidebar'}}
  </div><!-- /.ap-app-primary-sidebar -->
  <div class="ap-app-primary-content">
    {{outlet}}
  </div><!-- /.ap-app-primary-content -->
</div><!-- /.ap-app-primary -->
