<div class="ap-app-secondary">
  <div class="ap-app-secondary-sidebar">
    {{#ap-list-nav-vertical}}
      {{partial 'layouts/secondary/nav-items'}}
    {{/ap-list-nav-vertical}}
    {{outlet 'sidebar'}}
  </div><!-- /.ap-app-secondary-sidebar -->
  <div class="ap-app-secondary-content">
    {{outlet}}
  </div><!-- /.ap-app-secondary-content -->
</div><!-- /.ap-app-secondary -->
