{{#ap-page t=tertiary-layout-header help-url='http://docs.anypresence.com'}}
  <div class="ap-app-tertiary">
    <div class="ap-app-tertiary-sidebar">
      {{#ap-list-nav-vertical-circle-icon}}
        {{partial 'layouts/tertiary/nav-items'}}
      {{/ap-list-nav-vertical-circle-icon}}
      {{outlet 'sidebar'}}
    </div><!-- /.ap-app-tertiary-sidebar -->
    <div class="ap-app-tertiary-content">
      {{outlet}}
    </div><!-- /.ap-app-tertiary-content -->
  </div><!-- /.ap-app-tertiary -->
{{/ap-page}}
