{{#ap-page t=tertiary-layout-header}}
  <div class="ap-app-tertiary">
    <div class="ap-app-tertiary-sidebar">
      {{outlet 'sidebar'}}
    </div><!-- /.ap-app-tertiary-sidebar -->
    <div class="ap-app-tertiary-content">
      {{outlet}}
    </div><!-- /.ap-app-tertiary-content -->
  </div><!-- /.ap-app-tertiary -->
{{/ap-page}}
