.ap-app-header
  .ap-navbar-header
    margin-bottom: 0
    border: 0
    .navbar-brand,
    .navbar-nav > li > a
      height: auto
      padding-top: 0
      padding-bottom: 0
      border: 0
      line-height: $ap-app-header-height
    .navbar-brand
      font-size: 24px
    .ap-brand
      margin-right: 10px
    .ap-brand-text, .ap-brand-logo
      display: inline-block
      width: 200px
      text-indent: -9999px
    .ap-brand-version
      font-size: 16px
    .separator
      width: 1px
      height: $ap-app-header-height

.ap-app-toolbar
  .breadcrumb
    margin: 0
    padding-top: 0
    padding-bottom: 0
    a
      line-height: $ap-app-toolbar-height
