.ap-app-header
  .ap-navbar-header
    margin-bottom: 0
    border: 0
    .navbar-brand,
    .navbar-nav > li > a
      height: auto
      padding-top: 0
      padding-bottom: 0
      border: 0
      line-height: $ap-app-header-height
    .navbar-brand
      font-size: 24px
    .ap-brand-logo
      display: inline-block
      width: 240px
      text-indent: -9999px
    .ap-brand-text
      margin-left: 40px

.ap-app-toolbar
  .breadcrumb
    margin: 0
    padding-top: 0
    padding-bottom: 0
    a
      line-height: $ap-app-toolbar-height
