.ap-app-secondary
  .ap-app-secondary-sidebar
    float: left
    width: $ap-app-secondary-sidebar-width
    @media (max-width: $screen-sm-max)
      width: 50px
      transition: width 0.3s
      &.expanded
        width: $ap-app-secondary-sidebar-width
  .ap-app-secondary-content
    overflow: hidden
    min-height: 400px
    margin-left: $ap-app-secondary-sidebar-width
    @media (max-width: $screen-sm-max)
      margin-left: 50px
