<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      {{#bs-panel style='bold'}}
        {{ap-brand brand='primary-stacked' style='full'}}
        <p class="alert alert-info">
          {{t 'successes.sign-up'}}
        </p>
        {{link-to (t 'actions.login') 'login' class='btn btn-link'}}
      {{/bs-panel}}
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container -->
