<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      {{#bs-panel style='bold' t='actions.reset-password'}}
        {{render 'password.reset.form'}}
      {{/bs-panel}}
    </div><!-- /.col -->
  </div><!-- /.row -->
  <div class="row">
    <div class="col-xs-12 col-sm-2 col-sm-offset-5">
      {{ap-brand brand='just-apis'}}
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container -->
