<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      {{#bs-panel style='bold' t='$t(actions.new-x, {"x": "fields.password"})'}}
        {{render 'password.reset-confirmation.form'}}
      {{/bs-panel}}
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container -->
