<form method="POST" enctype="multipart/form-data" {{bind-attr action=url}}>
  {{input name='name' value=name class='hidden'}}
  {{input name='export' type='file' class='hidden'}}
  {{ap-panel-upload}}
</form>
