<div class="ap-app-primary">
  <div class="ap-app-primary-sidebar hidden-xs hidden-sm">

    {{#if sidebar}}
      {{component sidebar}}
    {{/if}}

  </div><!-- /.ap-app-primary-sidebar -->
  <div class="ap-app-primary-content">
    {{yield}}
  </div><!-- /.ap-app-primary-content -->
</div><!-- /.ap-app-primary -->
