{{#if value}}
  <span class="label label-success text-uppercase">{{t 'states.active'}}</span>
{{/if}}
{{#unless value}}
  <span class="label label-danger text-uppercase">{{t 'states.inactive'}}</span>
{{/unless}}
