<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      {{#bs-panel style='bold'}}
        {{ap-brand style='full'}}
        {{forms/registration-form plans=plans}}
      {{/bs-panel}}
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container -->
