// AnyPresence Layout Variables

$ap-header-height: 70px

$ap-app-primary-toolbar-height: 45px
$ap-app-primary-sidebar-width: 60px
$ap-app-secondary-sidebar-width: 190px
$ap-app-tertiary-sidebar-width: 100px

$ap-page-padding: 40px

// Bootstrap Layout Variable Overrides
// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss


