<label class="radio-inline text-mono">
  {{ap-radio value=true checked=value}}
  {{t 'conditionals.if'}}
</label>
<label class="radio-inline text-mono">
  {{ap-radio value=false checked=value}}
  {{t 'conditionals.unless'}}
</label>
