<div class="panel panel-default">
  <div class="panel-heading">
    <span class="label label-default">{{model.stamp}}</span>
  </div>

  <div class="panel-body">
    <div class="form-group">
      <label class="control-label col-sm-2">{{t 'fields.body'}}</label>
      <div class="col-sm-10">
        <pre class="form-control form-control-flexible">{{model.body}}</pre>
      </div><!-- /.col -->
    </div><!-- /.form-group -->
  </div><!-- /.panel-body -->
</div>
