.ap-app
  background-color: $ap-app-primary-sidebar-bg-color
  +background(linear-gradient(top, darken($ap-app-primary-sidebar-bg-color, 10%), $ap-app-primary-sidebar-bg-color))

.ap-app-header
  .ap-navbar-header
    border-radius: 0
    &, a
      font-weight: 200

.ap-app-toolbar
  background-color: $ap-slate-light
  .breadcrumb
    border-radius: 0
    background: none
    a, .ap-icon
      font-weight: 500
      color: $breadcrumb-color
    .active
      a
        font-weight: 200
