.ap-app-primary
  .ap-app-primary-sidebar
    .ap-list-nav-vertical-icon
      li
        a
          color: rgba(#fff, 0.65)
        .active
          color: $ap-app-primary-bg-color
          background: $ap-app-secondary-bg-color
  .ap-app-primary-content
    background-color: #fff
