.ap-app-primary
  .ap-app-primary-sidebar
    .ap-list-nav-vertical-icon
      li
        a
          color: rgba(#fff, 0.65)
        .active
          color: #FFF
          background: $ap-app-primary-active-bg-color
  .ap-app-primary-content
    background-color: $ap-page-bg
