.ap-app-primary
  background-color: $ap-app-primary-sidebar-bg-color
  +background(linear-gradient(top, darken($ap-app-primary-sidebar-bg-color, 10%), $ap-app-primary-sidebar-bg-color))
  .ap-app-primary-sidebar
    a
      +opacity(0.65)
      color: #fff
  .ap-app-primary-content
    background-color: #fff
