.ap-app-secondary
  background-color: $ap-slate-lighter
  .ap-app-secondary-sidebar
    border-color: darken($ap-slate-lighter, 10%)
    +background(linear-gradient(top, lighten($ap-slate-lighter, 15%), $ap-slate-lighter))
  .ap-app-secondary-content
    background: #fff
