.ember-application
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-font-smoothing: antialiased
  font-smoothing: antialiased
  letter-spacing: $ap-letter-spacing

.text-mono
  font-family: $font-family-monospace

a
  &:hover
    color: $ap-action-hover
  &:focus,
  &:active
    text-decoration: none
