@import "theme/application/header"

@font-face
  font-family: "retinaicon-font"
  src: url("fonts/retinaicon-font.eot")
  src: url("fonts/retinaicon-font.eot?#iefix") format("embedded-opentype"), url("fonts/retinaicon-font.woff") format("woff"), url("fonts/retinaicon-font.ttf") format("truetype"), url("fonts/retinaicon-font.svg#retinaicon-font") format("svg")
  font-weight: normal
  font-style: normal
