.ap-brand
  text-indent: -9999px
  background-size: 200px 50px

.ap-brand-just-apis
  +background(url("images/brands/just-apis.svg") no-repeat 0% 50%)
.ap-brand-anypresence
  +background(url("images/brands/anypresence.svg") no-repeat 0% 50%)
.ap-brand-brought-to-you-by-anypresence
  +opacity(0.75)
  +background(url("images/brands/brought-to-you-by-anypresence.svg") no-repeat 0% 50%)

.ap-brand-full
  background-size: 100% 100%
