.ap-brand-just-apis
  +background(url("images/brands/just-apis.svg") no-repeat 50% 50%)
.ap-brand-anypresence
  +background(url("images/brands/anypresence.svg") no-repeat 50% 50%)
.ap-brand-brought-to-you-by-anypresence
  +opacity(0.75)
  +background(url("images/brands/brought-to-you-by-anypresence.svg") no-repeat 50% 50%)

.ap-brand-default, .ap-brand-full
  text-indent: -9999px

.ap-brand-default
  background-size: 150px 50px

.ap-brand-full
  background-size: 100% 100%
