.ap-list-nav
  a:hover
    text-decoration: none

.ap-list-nav-secondary-hover
  .text-secondary
    visibility: hidden
  a:hover .text-secondary
    visibility: visible

.ap-list-nav-circle
  .ap-icon
    border-radius: 50%

.ap-list-nav-vertical
  li
    border-color: darken($ap-slate-lighter, 10%)
    a
      color: $ap-slate-light
      .text
        color: darken($text-color, 15%)
        font-weight: 500
        letter-spacing: 0.01em
        text-transform: uppercase
      &.active
        .text
          font-weight: 600
          color: $ap-accent

.ap-list-nav-vertical-circle-icon
  position: relative
  // center background line
  &:after
    content: " "
    position: absolute
    z-index: 1
    top: 0
    bottom: 0
    left: 33px
    border-left: 5px solid $ap-slate-medium
  li
    position: relative
    z-index: 10
    a
      .ap-icon
        border-color: $ap-slate-medium
        color: #fff
        background-color: $ap-slate-medium
      &.active
        position: relative
        .ap-icon
          position: relative
          z-index: 10
          border-color: $ap-accent
          color: $ap-accent
        // active arrow
        &:after
          $size: 25px
          content: " "
          position: absolute
          z-index: 5
          top: 10px
          left: 59px
          width: 0
          height: 0
          border-top: $size solid transparent
          border-bottom: $size solid transparent
          border-left: $size solid $ap-accent
    &:last-child
      .ap-icon
        color: $ap-slate-medium
        background-color: #fff

.ap-list-nav-circle-icon
  a
    text-align: center
    .ap-icon
      color: #fff
      background-color: $ap-slate-medium
    .text
      color: $text-color

.ap-list-nav-simple-icon
  a
    color: $ap-accent

.ap-list-nav-xl-circle-icon
  a
    font-weight: 300
    color: #fff
    .ap-icon
      background-color: rgba($ap-slate-dark, 0.5)
    .text-secondary
      color: rgba(#fff, 0.75)
    &:hover
      .ap-icon, .text
        color: $ap-accent
