.panel
  border-radius: 8px
  > .panel-heading
    font-weight: 500
    background: none
    & a:hover
      text-decoration: none

.panel-default
  $color: $text-color
  border-color: $color
  > .panel-heading
    &, & a
      color: $color

.panel-success
  $color: lighten($brand-success, 10%)
  border-color: $color
  > .panel-heading
    font-weight: normal
    &, & a
      color: $color

.panel-drop
  cursor: pointer
  border-color: $gray-lighter
