.ap-brand
  display: inline-block
  margin-right: 10px

.ap-brand-default
  width: 200px
  height: $ap-app-header-height
  @media (max-width: $screen-xs-max)
    height: $ap-app-header-height-xs

.ap-brand-full
  display: block
  width: 80%
  min-height: 125px
  margin: 0 auto 30px
