.btn
  min-width: 85px
  padding: 6px 20px
  line-height: 1

.ap-button-block
  margin-top: -20px
  margin-bottom: 20px
  padding: 0
  border: 0
  border-top: 1px solid
  line-height: 40px
  .ap-icon
    font-size: 25px
  .text
    position: relative
    top: -2px

.ap-toggle-nav
  width: 50px
  min-width: 0
  padding: 15px
  border: 0
  .icon-bar
    display: block
    width: 22px
    height: 2px
    + .icon-bar
      margin-top: 4px
