.btn
  min-width: 85px
  padding: 6px 20px
  font-size: 15px
  line-height: 1

.ap-button-block
  margin-top: -20px
  margin-bottom: 20px
  padding: 0
  border: 0
  border-top: 1px solid
  line-height: 40px
  .ap-icon
    font-size: 25px
  .text
    position: relative
    top: -2px
