form
  form,
  & .form-inline
    .ap-form-actions
      display: none

.form-horizontal
  .form-control
    width: calc(100% - 50px)
    min-width: 30px
  .radio-inline
    margin-top: -5px
    padding: 0 20px 0 0

.table
  .form-inline
    display: flex
    .form-group
      flex: 1 100%
      margin-left: 0
      margin-right: 0
      .form-control
        width: 95%
      > label
        display: none
      .checkbox-inline, .radio-inline
        margin: 0 0 0 10px
        padding: 0
        input
          position: static
          margin-left: 0
