form
  form, & .form-inline
    .ap-form-actions
      display: none

.table
  .form-inline
    .form-group
      margin-left: 0
      margin-right: 0
      > label
        display: none
      .checkbox-inline, .radio-inline
        margin: 0 0 0 10px
        padding: 0
        input
          position: static
          margin-left: 0
    .form-control
      width: 275px
