.ap-json-schema-node-tree
  line-height: 1.5
  font-size: 1.15em
  &, ul
    @extend .list-unstyled
  ul
    margin-left: 2em
  .node-header
    font-size: 12px
  .node-title
    border-right: 4px solid
    > .ap-icon
      display: inline-block
      width: 0.75em
      font-size: 22px
  .ap-list-nav
    .ap-icon
      font-size: 15px
