.table
  > thead > tr > th
    position: relative
  > thead > tr > th,
  > tbody > tr > td
    padding: 8px 10px
    line-height: 1
  > thead > tr > th
    padding: 16px 10px
    border: 0
    border-left: 1px solid
    &:first-child
      padding-left: 15px
    &:last-child
      border: 0
  > tbody > tr
    border-left: 12px solid

  .sort-indicators
    position: relative
    display: inline-block
    width: 8px
    height: 18px
    padding: 0 5px
    vertical-align: bottom
  .sort-indicator-asc,
  .sort-indicator-desc
    position: absolute
    //left: 0
    width: 0
    height: 0
    border-left: 8px solid
    border-right: 8px solid
  .sort-indicator-asc
    top: 0
    border-bottom: 8px solid
  .sort-indicator-desc
    bottom: 0
    border-top: 8px solid
