.table
  > thead > tr > th,
  > tbody > tr > td
    padding: 8px 10px
    line-height: 1
  > thead > tr > th
    padding: 16px 10px
    border: 0
    border-left: 1px solid
    &:first-child
      padding-left: 15px
    &:last-child
      border: 0
  > tbody > tr
    border-left: 12px solid
