<span class="btn btn-sm {{if (get model field.name) "btn-success" "btn-danger"}} text-uppercase clickable" {{action 'toggleBoolean' model field.name true}}>
  {{t (if (get model field.name) 'states.active' 'states.inactive')}}
</span>
