{{#bs-container}}
  {{#bs-row}}
    {{#bs-col xs=12 sm=6 sm-offset=3}}
      {{#bs-panel style='bold'}}
        <span class="ap-brand ap-brand-text">{{t 'brands.just-apis'}}</span>
        {{partial 'login/-form'}}
      {{/bs-panel}}
    {{/bs-col}}
  {{/bs-row}}
{{/bs-container}}
