<header class="ap-app-header">
  <nav class="ap-navbar-header navbar navbar-inverse" role="navigation">
    
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".ap-nav-header">
        <span class="sr-only">{{t 'actions.toggle-navivagation'}}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button><!-- /.navbar-toggle -->
      {{#link-to 'index' class='navbar-brand'}}
        <span class="ap-brand sr-only">{{t 'brands.anypresence'}}</span>
        <spanclass="ap-brand-gateway">{{t 'brands.gateway'}}</span>
      {{/link-to}}<!-- /.navbar-brand -->
    </div><!-- /.navbar-header -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse ap-nav-header">
      
    </div><!-- /.navbar-collapse -->
    
  </nav><!-- /.navbar -->
</header><!-- /.ap-app-header -->
